.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
/.gitignore
/src-i386/DataBionicSwarm.h
/src-i386/DatabionicSwarm.dll
/src-i386/DatabionicSwarm_init.c
/src-i386/DatabionicSwarm_init.o
/src-i386/Delta3DWeightsC.cpp
/src-i386/Delta3DWeightsC.o
/src-i386/DijkstraSSSP.cpp
/src-i386/DijkstraSSSP.o
/src-i386/Makevars
/src-i386/Makevars.win
/src-i386/PswarmCurrentRadiusC2botsPositive.cpp
/src-i386/PswarmCurrentRadiusC2botsPositive.o
/src-i386/RcppExports.cpp
/src-i386/RcppExports.o
/src-i386/calcPolarPositionsC.cpp
/src-i386/calcPolarPositionsC.h
/src-i386/calcPolarPositionsC.o
/src-i386/calcStressC.cpp
/src-i386/calcStressC.h
/src-i386/calcStressC.o
/src-i386/findPossiblePositionsCsingle.cpp
/src-i386/findPossiblePositionsCsingle.o
/src-i386/lmC.cpp
/src-i386/lmC.h
/src-i386/lmC.o
/src-i386/makePolarPositionToroidC.cpp
/src-i386/makePolarPositionToroidC.h
/src-i386/makePolarPositionToroidC.o
/src-i386/rDistanceToroidCsingle.cpp
/src-i386/rDistanceToroidCsingle.o
/src-i386/trainstepC.cpp
/src-i386/trainstepC.o
/src-x64/DataBionicSwarm.h
/src-x64/DatabionicSwarm.dll
/src-x64/DatabionicSwarm_init.c
/src-x64/DatabionicSwarm_init.o
/src-x64/Delta3DWeightsC.cpp
/src-x64/Delta3DWeightsC.o
/src-x64/DijkstraSSSP.cpp
/src-x64/DijkstraSSSP.o
/src-x64/Makevars
/src-x64/Makevars.win
/src-x64/PswarmCurrentRadiusC2botsPositive.cpp
/src-x64/PswarmCurrentRadiusC2botsPositive.o
/src-x64/RcppExports.cpp
/src-x64/RcppExports.o
/src-x64/calcPolarPositionsC.cpp
/src-x64/calcPolarPositionsC.h
/src-x64/calcPolarPositionsC.o
/src-x64/calcStressC.cpp
/src-x64/calcStressC.h
/src-x64/calcStressC.o
/src-x64/findPossiblePositionsCsingle.cpp
/src-x64/findPossiblePositionsCsingle.o
/src-x64/lmC.cpp
/src-x64/lmC.h
/src-x64/lmC.o
/src-x64/makePolarPositionToroidC.cpp
/src-x64/makePolarPositionToroidC.h
/src-x64/makePolarPositionToroidC.o
/src-x64/rDistanceToroidCsingle.cpp
/src-x64/rDistanceToroidCsingle.o
/src-x64/trainstepC.cpp
/src-x64/trainstepC.o
