/.Rproj.user/EAF5C4C0/compilation-database/mingw64/c-definitions.h
/.Rproj.user/EAF5C4C0/compilation-database/mingw64/config.json
/.Rproj.user/EAF5C4C0/compilation-database/mingw64/cpp-definitions.h
/.Rproj.user/EAF5C4C0/cpp-definition-cache
/.Rproj.user/EAF5C4C0/ctx/ctx-8933/console_actions
/.Rproj.user/EAF5C4C0/ctx/ctx-8933/environment
/.Rproj.user/EAF5C4C0/ctx/ctx-8933/history
/.Rproj.user/EAF5C4C0/ctx/ctx-8933/settings
/.Rproj.user/EAF5C4C0/pcs/debug-breakpoints.pper
/.Rproj.user/EAF5C4C0/pcs/files-pane.pper
/.Rproj.user/EAF5C4C0/pcs/source-pane.pper
/.Rproj.user/EAF5C4C0/pcs/windowlayoutstate.pper
/.Rproj.user/EAF5C4C0/pcs/workbench-pane.pper
/.Rproj.user/EAF5C4C0/persistent-state
/.Rproj.user/EAF5C4C0/rmd-outputs
/.Rproj.user/EAF5C4C0/saved_source_markers
/.Rproj.user/EAF5C4C0/sources/prop/2BB6349A
/.Rproj.user/EAF5C4C0/sources/prop/3BD9B54C
/.Rproj.user/EAF5C4C0/sources/prop/462A3AF2
/.Rproj.user/EAF5C4C0/sources/prop/809EE8E2
/.Rproj.user/EAF5C4C0/sources/prop/C9429E9E
/.Rproj.user/EAF5C4C0/sources/prop/CCFA75B9
/.Rproj.user/EAF5C4C0/sources/prop/INDEX
/.Rproj.user/EAF5C4C0/sources/session-52c567ae/D3870E57
/.Rproj.user/EAF5C4C0/sources/session-52c567ae/D3870E57-contents
/.Rproj.user/EAF5C4C0/sources/session-52c567ae/FC557671
/.Rproj.user/EAF5C4C0/sources/session-52c567ae/FC557671-contents
/.Rproj.user/EAF5C4C0/sources/session-52c567ae/lock_file
/.Rproj.user/EAF5C4C0/sources/session-dbd6e860/653D4FD2
/.Rproj.user/EAF5C4C0/sources/session-dbd6e860/653D4FD2-contents
/.Rproj.user/EAF5C4C0/sources/session-dbd6e860/6C4D9E13-contents
/.Rproj.user/EAF5C4C0/sources/session-dbd6e860/D04EBA3E
/.Rproj.user/EAF5C4C0/sources/session-dbd6e860/D04EBA3E-contents
/.Rproj.user/EAF5C4C0/sources/session-dbd6e860/E6C4E698
/.Rproj.user/EAF5C4C0/sources/session-dbd6e860/E6C4E698-contents
/.Rproj.user/EAF5C4C0/sources/session-dbd6e860/lock_file
/.Rproj.user/shared/notebooks/A3951B6D-DatabionicSwarm/1/EAF5C4C067748bf0/chunks.json
/.Rproj.user/shared/notebooks/A3951B6D-DatabionicSwarm/1/EAF5C4C0d67fd07/chunks.json
/.Rproj.user/shared/notebooks/A3951B6D-DatabionicSwarm/1/s/chunks.json
/.Rproj.user/shared/notebooks/patch-chunk-names
/.Rproj.user/shared/notebooks/paths
